extends ./layout.pug
block style
	link(href="../css/style.css", rel="stylesheet")
	meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
block content
	img(src="/images/lo.jpg" float=left )
	p
	.pr
		ul
			each product in products
					li
						.licat
							a(href='/product/'+product )
								h4 Заказ
								div= '№: '+ product
								p 
									form( action='/basketDel',method='GET')
										input(name='productId', type='hidden', value=product)
										input.button(name="product", type="submit", value="Удалить")
					p