extends ./layout.pug
block style
	link(href="../css/style.css", rel="stylesheet")
	meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
block content
	img(src="../images/1.jpg" alt="" title="" width="690" style="margin-right:40px;")
	p
	h2 О сайте
	p Omega — это уникальная мастерская авторских вещей.
	p Здесь вы можете продать и купить любые изделия ручной работы — от бижутерии и детских игрушек до мебели и косметики ручной работы. На сайте представлены работы авторов из России, Украины, Беларуси и других стран. Мы работаем круглосуточно, без выходных, праздников и отпусков, помогая как продавцам в реализации изделий, так и покупателям в подборе необходимой вещи.
	p У авторов и покупателей есть уникальная возможность работать напрямую, без посредников. Мы не берем с покупателей никаких комиссий — вы платите только автору выбранной вами работы. Авторам мы предоставляем возможность добавления неограниченного количества товаров — бесплатно, без комиссий, процентов с продаж, платы за количество размещенных товаров. Никаких обязательных платежей!
	p Удачных продаж и приятных покупок!
